@import "global.css";
@import "header.css";
@import "footer.css";

h2 {
    margin: 1em 0 1em 0;
    border-bottom: 1px solid black;
}


/* Hero Banner */

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    min-height: 600px;
    margin: 0 -15px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.image-container {
    margin: 30px;
    border: 5px var(--header-color) solid;
    box-shadow: 2.5px 2.5px 2px white;
}

.image-container > img {
    object-fit: contain;
}

.character-description {
    width: 30em;
}

.character-description > button {
    padding: 5px;
    margin: 1em 0 1em 0;
    background-color: darkgreen;
    color: white;
    font-size: 25px;
}

.character-description > button:hover {
    cursor: pointer;
    background-color: lightgreen;
    color: darkgray;
}

@media screen and (min-width: 900px) {
    .hero-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--card-color);
        margin: 0 -15px;
        min-height: 600px;
    }

    .character-description > button {
        margin: 1em 0 0 0;
    }
}


/* Character info */

.character-info {
    margin: 2em 10% 0 10%;
    display: grid;
    grid-template-columns: 70% 5% 25%;
    grid-template-rows: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.general-info {
    grid-column: 1/2;
    grid-row: 1/2;
    
}

.general-info figure {
    justify-self: center;
    border: 1px var(--card-color) solid;
    border-radius: 5px;
    background-color: var(--header-color);
    color: white;
    padding: 5px;
    margin: 1rem 0;
}

.general-info img {
    height: 100%;
    width: 100%;
}

.powers {
    grid-column: 3/4;
    grid-row: 1/2;
}

.powers ul {
    margin-left: 2em;
}

.recent-issues {
    text-align: center;
    justify-self: center;
    min-height: 260px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.recent-issues a {
    cursor: pointer;
    color: transparent;
}

.recent-issues img {
    object-fit: cover;
    border: 5px solid var(--extra-color);
}

@media screen and (min-width: 940px) {
    .character-info {
        margin: 2em 15% 0 15%;
        grid-template-rows: auto;
    }
}

.loaded {
    opacity: 1;
}