@import "global.css";
@import "header.css";
@import "footer.css";
@import "modal.css";
@import "loader.css";

.contact-container {
    display: flex;
    flex-direction: column;
    background-color: var(--extra-color);
    color: white;
    align-items: center;
    border-radius: 5px;
}

#contact-left-column {
    margin-top: 1em;
    padding: 0 30px;
    text-align: center;
}

#contact-left-column h1 {
    margin-bottom: 1em;
}

#contact-left-column img {
    border-radius: 10px;
    margin-top: 1em;
    justify-self: center;
}

#contact-right-column > form {
    display: flex;
    flex-direction: column;
    margin: 0 3em 3em 3em;
}

#contact-right-column > form label {
    margin: 1em 0;
}

#submit-btn {
    margin-top: 3em;
    width: 5em;
    align-self: center;
    background-color: var(--footer-color);
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#submit-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--header-color);
}

#name, #email, #phone {
    width: 27.6rem;
}

#message {
    width: 27.7rem;
    height: 15rem;
}

@media screen and (min-width: 950px) {
    .contact-container {
        flex-direction: row;
    }

    #name, #email, #phone, #message {
        width: 25rem;
    }

    #contact-left-column {
        margin: 1em 0 2em 1em;
        text-align: left;
    }
}
