:root {
    --title-color: black;
    --word-color: black;
    --bg-color: #c0e6de;
    --card-color: #9999C3;
    --header-color: #7b8cde;
    --footer-color: #BB999C;
    --extra-color: #E88D67;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0; ;
}

header {
    background-color: var(--header-color);
}

footer {
    background-color: var(--footer-color);
}

main {
    background-color: var(--bg-color);
    box-shadow: 5px 0 5px lightgray;
    max-width: 1000px;
    padding: 20px 15px;
    margin: 0 auto;
    min-height: 76vh;
}

.saved {
    display: none;
    color: black;
}

.show {
    display: inline;
    background-color: var(--header-color);
    padding: 10px;  
}


