@import "global.css";

/* Search Container and Form Styles */
.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #333;
    padding: 5px 10px;
    background-color: #fff;
    width: 100%;
    max-width: 250px;
}

.general-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-container input {
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
}

.search-container .icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Header / Navigation --- */
.top-nav {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 5px 0 5px lightgray;
    background-color: var(--header-color);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.user-btn {
    background: transparent;
}

#logo {
    border-radius: 5px;
}

.nav-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 700px) {
    #logo {
        /* height: 53px;
        width: 55px; */
    }
}