@import "global.css";

header {
    background-color: var(--header-color);
}

/* --- Header / Navigation --- */
.top-nav {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 5px 0 5px lightgray;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

#logo {
    height: 80px;
    width: 147px;
    border-radius: 3px;
}

.nav-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 700px) {
    #logo {
        height: 90px;
        width: 167px;
    }
}