@import "global.css";
@import "header.css";
@import "footer.css";

main {
    padding: 10px 15px;
}

/* General Search */

h1 {
    text-align: center;
    justify-self: center;
    margin: 0 1.5em 1em 1.5em;
    border-bottom: 3px solid black;
}

button {
    height: 30px;
    max-height: 32px;
    padding: 0;
    margin: 0;
}

.general-form > input {
    height: 30px;
    width: 15em;
    border-radius: 0;
    border: 1px solid black;
    border-left: none;
}

@media screen and (min-width: 830px) {
   .general-form > input {
    width: 30em;
  }
}

#search-options {
    padding: 6px;
    border: 1px solid black;
    border-right: none;
    background-color: white;
}

#general-search-btn {
    padding-bottom: 2.2em;
    height: 30px;
    background: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
}

#general-search-btn:hover {
    cursor: pointer;
} 

#search-icon {
    padding-top: 1.6px;
    font-size: 30px;
}

.general-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Results */

#results-title {
    margin-top: 0.5em;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 10% 1em 10%;
    gap: 0.8em;
    
}

.result-card {
    width: 450px;
    padding: 15px;
    text-align: center;
    background-color: var(--card-color);
    border-radius: 7px;
}

.result-card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.result-card img {
    height: 350px;
    width: 350px;
    border: 5px solid #e88d67;
}

@media screen and (min-width: 830px) {
   .results-container {
        flex-direction: column;
        margin: 0.5em 10em 1em 10em;
        justify-self: center;
    }

    .result-card {
        width: 58ch;
    }

    .result-card a {
        flex-direction: row;
    }

    .result-card img {
        height: 200px;
        width: 200px;
    }
}

.result-card a:hover {
    cursor: pointer;
    color: lightgreen;
}
