/* --- Base Styles & Reset --- */
@import "global.css";
@import "header.css";
@import "footer.css";

/* --- Main Content Sections --- */

main > div{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.loaded {
    opacity: 1;
}

.featured-section {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.featured-section a {
    max-width: 80%;
}

.featured-section a > img {
    max-width: 90%;
    object-fit: cover;
}

.gallery-section {
    margin-bottom: 30px;
    text-align: center;
    background-color: var(--card-color);
}

.gallery-section h2 {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 22px;
    color: white;
}

/* --- Carousels --- */
.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.carousel-arrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
    padding: 10px;
    flex-shrink: 0;
    user-select: none;
    transition: transform 0.2s ease;
}

.carousel-arrow:hover {
    transform: scale(1.2);
}

.carousel-image-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px 5px;
}

.carousel-image-wrapper img {
    flex-shrink: 0;
    max-width: 160px;
    height: auto;
    max-height: 240px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.2s ease;
}

.carousel-image-wrapper {
    transform: translateY(-5px)
}
